*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.contact-section{
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  padding: 60px 0;
}
.contact-section h1{
  text-align: center;
  color: #ddd;
}


.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgb(167, 170, 173);
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s; 
  font-size: 20px;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #c2c7cc;
}
textarea.contact-form-text{
  resize: none;
  height: 90px;
}
.button{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 195px;
  font-size: 15px;
  align-self: center;
}
.button:hover{
  background: #2980b9;
}
